@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(46, 51, 57);
  margin-top: 0px;
}

.google-auth {
  margin: 0px 10px 0px 20px;
}

.logo {
  margin: 0px 10px 0px 20px;
}

.filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.filters > .btn {
  margin: 10px 10px;
}

.words {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  text-align: center;
  margin: 10px;
  flex-shrink: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-body > h6 {
  margin: 0px;
  padding: 0px;
  border: none;
}

.card-description {
  height: 13em;
  overflow: scroll;
}

.card-buttons {
  margin-top: 10px;
  flex-grow: 6;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.new-category-input-div {
  margin-top: 10px;
}

a {
  text-decoration: none;
}
